@page

<div class="text-center">
    <div class="display-6">Thanks</div>
    <p>Thanks for placing Order #@OrderId</p>
    <p>We'll ship your goods as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return To Home</a>
</div>

@functions
{
    [BindProperty(SupportsGet = true)]
    public String? OrderId {get; set;}
}