@page "/getintouch"

<div class="text-center border border-primary rounded my-5">
    <div class="display-6">
        Contact
    </div>
    <div class="lead">
        <i class="fa-solid fa-phone text-primary my-3"></i>
        <p>
            Lorem ipsum dolor sit amet
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
            Proin sollicitudin placerat velit, nec interdum arcu hendrerit et.<br>
            Maecenas ut sollicitudin tortor.
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            Lorem ipsum dolor sit amet
        </p>
    </div>
</div>